@charset "UTF-8";
@font-face {
   font-family: 'HallymGothic-Regular';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}
* {font-family: 'Hanna';}
body{font-size:16px;}
#wrap{width:100%;}
#header{width:100%; height:80px; position:fixed; top:0; left:0; z-index:9999;}
#header .inner{position:relative;}
#header h1{width:32px; height:32px; position:absolute; left:10px; top:50%; transform:translateY(-50%); overflow:hidden;}
#header h1 a{display:block;}
#header h1 img{display:block; width:100%;}
#header .sns{position:absolute; right:10px; top:50%; transform:translateY(-50%);}
#header .sns li{display:inline-block; width:32px; height:32px; margin-left:10px;}
#header .sns li img{display:block; border-radius:50%;}
#container{width:100%; opacity:0;}
#intro{width:100%; height:200px; padding-top:100px; line-height:2.5rem; font-size:1.3rem;}
#intro span{display:none;}

#profile{width:100%; padding-bottom:80px;}
#profile .inner{display:flex; align-items:center;}
#profile .pro_image{width:35%; margin-right:5%;}
#profile .pro_image img{width:100%; display:block; border-radius:100%;}
#profile .desc{width:60%;}
#profile .desc h2{font-size:1.5rem; margin-bottom:10px; font-weight:900;}
#profile .desc p{font-size:.9rem; line-height:1.2rem;}

.pro{width:100%; padding-bottom:80px;}
.pro .inner{display:flex;}
.pro .title{width:25%; margin-right:5%; text-align:center; font-size:1.8rem;}
.pro .text{width:70%; padding-top:80px; position:relative;}
.pro .text::after{content:''; display:block; width:100%; height:2px; background-color:#000; position:absolute; top:14px; left:0;}
.pro .text ol{width:100%;}
.pro .text ol li{display:flex; flex-wrap:wrap; padding-bottom:60px;}
.pro .text ol li div{width:50%;}
.pro .text ol li div.video{width:100%; padding-top:20px;}
.pro .text ol li div.video video{width:100%;}
.pro .text ol li div a{color:#000; font-weight:600; display:inline-block; position:relative;}
.pro .text ol li div a:after{content:''; width:0%; height:1px; position:absolute; left:50%; bottom:-5px; transform:translateX(-50%); background-color:#000; transition:.3s ease all;}
.pro .text ol li div a:hover::after{width:100%;}
.pro .text ol li .listCon div{width:100%; padding-bottom:20px;}
.pro .text ol li div span{display:block; padding-bottom:10px; }
.pro .text ol li div strong{display:block; font-size:1rem; padding-bottom:10px;}
.pro .text ol li div em{font-size:.9rem; display:block; padding-bottom:10px;}

.pro .text ul li{border-bottom:1px solid #ccc; margin-bottom:10px;}
.pro .text ul li .listTit{padding:10px 0; font-size:1rem; transition:.3s ease all;}
.pro .text ul li .desc{padding:20px 10px; background-color:#efefef; border-top:1px solid #ccc;}

#stack ul{width:100%;}
#stack ul li{width:100%; height:20px; line-height:20px; padding-bottom:20px; display:flex; border:none;}
#stack ul li .name{width:20%; font-size:1rem; font-weight:600; overflow:hidden;}
#stack ul li .bar-item{width:80%; background-color:rgba(0,0,0,.1); border-radius:20px;}
#stack ul li .bar-item .bar{width:0%; height:100%; overflow:hidden; padding:0 20px; box-sizing:border-box; border-radius:20px; text-align:right; color:#fff;}
#stack ul li:nth-child(1) .bar{background-image: linear-gradient(to left, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);}
#stack ul li:nth-child(1) .bar{background-image: -webkit-linear-gradient(to left, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);}
#stack ul li:nth-child(2) .bar{background-image: linear-gradient(to left, #a18cd1 0%, #fbc2eb 100%);}
#stack ul li:nth-child(2) .bar{background-image: -webkit-linear-gradient(to left, #a18cd1 0%, #fbc2eb 100%);}
#stack ul li:nth-child(3) .bar{background-image: linear-gradient(to left, #f6d365 0%, #fda085 100%);}
#stack ul li:nth-child(3) .bar{background-image: -webkit-linear-gradient(to left, #f6d365 0%, #fda085 100%);}
#stack ul li:nth-child(4) .bar{background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);}
#stack ul li:nth-child(4) .bar{background-image: -webkit-linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);}
#stack ul li:nth-child(6) .bar{background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);}
#stack ul li:nth-child(5) .bar{background-image: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);}
#stack ul li:nth-child(7) .bar{background: linear-gradient(to left, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;}
#stack ul li:nth-child(7) .bar{background: -webkit-linear-gradient(to left, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; }

#company_profile{width:100%;}
#company_profile .com_inn{display:flex;}
#company_profile .com_inn>div{width:49%; box-sizing:border-box; border:1px solid #000;}
#company_profile .com_inn>div a{display:block; width:100%; height:100%; position:relative; }
#company_profile .com_inn>div a:hover span{opacity: 1;}
#company_profile .com_inn>div a span{display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.5); opacity:0; transition:1s ease all; text-align: center; font-size:2rem; color:#fff; font-weight:700;}
#company_profile .com_inn>div a span em{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
#company_profile .com_inn>div:first-child{margin-right:2%;}

#FAQ{width:100%;}
#FAQ li .desc{display:none; line-height:1.4rem; font-size:.9rem; padding:20px;}
#FAQ li.active .listTit{color:#888;}
#FAQ li .listTit{cursor:pointer;}

#contact{width:100%; padding:30px 0;}
#contact .inner{display:flex; }
#contact .introduction{width:50%;}
#contact .introduction h5{font-size:1.2rem; color:#aaa; padding-bottom:10px;}
#contact .introduction p{font-size:1rem; line-height:1.5rem;}
/* border-left:1px solid #ccc; background-color:#efefef; */
#contact .contactInfo{width:50%; text-align:center;}
#contact .contactInfo li{padding-bottom:10px;}
#contact .contactInfo li .infoTit{font-size:1.1rem; color:#aaa; padding-bottom:10px; font-weight:600;}

#footer{width:100%; border-top:1px solid #ccc; padding:20px 0;}
#footer .copy{font-size:1rem; text-align:center;}
