@use "@/styles/mixins/_responsive.scss";

.TypeWrite {
  min-height: 164px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  padding: 42px 0;

  @include responsive.before(SD) {
    font-size: 1.5rem;
    min-height: 65px;
    padding: 0;
  }
}