:root {
  --max-width: 1200px;

  --gray-gray-99: #f6f8fb;
  --gray-gray-95: #e8e8e9;
  --gray-gray-90: #d6d7da;
  --gray-gray-80: #c3c3c3;
  --gray-gray-70: #989b9f;
  --gray-gray-50: #636567;
  --gray-gray-40: #505254;
  --gray-gray-30: #323436;
  --gray-gray-10: #121416;
  --white: #ffffff;

  --primary-color: #505254;
}