.Contact {
  padding-top: 2rem;

  .Inner {
    display: flex;
    justify-content: space-between;

    .IntroDuce {
      h5 {
        font-size: 1.2rem;
        color: #aaa;
        padding-bottom: 10px;
      }

      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    .contactInfo {
      text-align: center;

      li {
        padding-bottom: 10px;

        .infoTit {
          font-size: 1.1rem;
          color: #aaa;
          padding-bottom: 10px;
          font-weight: 600;
        }
      }
    }
  }

}

.Footer {
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 20px 0;

  p {
    font-size: 1rem;
    text-align: center;
  }
}