@use "@/styles/mixins/_responsive.scss";

.SectionLayout {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &>h2 {
    font-size: 2rem;
    position: relative;

    @include responsive.before(SD) {
      padding-bottom: 20px;
    }

    &::after {
      content: '';
      display: block;
      width: calc(100% - 180px);
      height: 2px;
      position: absolute;
      background-color: var(--gray-gray-30);
      bottom: 50%;
      right: 0;
      transform: translateY(50%);

      @include responsive.before(SD) {
        width: 100%;
        bottom: 0;
        transform: translateY(0);
      }

    }
  }

  .SectionBox {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    .SectionInn {
      width: calc(100% - 180px);
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      flex-direction: column;

      @include responsive.before(MD) {
        width: 100%;
      }
    }
  }


}