@use "@/styles/mixins/_responsive.scss";

.Intro {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1rem;

  @include responsive.before(SD) {
    flex-direction: column;
  }

  .IntroImage {
    flex: 1;
    border-radius: 50%;
    overflow: hidden;

    @include responsive.before(SD) {
      max-width: 80%;
    }

    img {
      width: 100%;
    }
  }

  .IntroText {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.4;
    }

    .SnsArea {
      display: flex;
      gap: 12px;

      li {
        font-size: 1.5rem;
      }

    }
  }
}