.accordion {
  margin: 2rem 0;
  border-radius: 6px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion-item {
  display: flex;
  flex-direction: column;
}

.accordion-item-title {
  margin: 0;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.15rem;
  color: var(--gray-gray-30);

}

.accordion-item-content {
  border-top: 1px solid var(--primary-color);

  span {
    display: block;
    padding: 1rem;
  }
}

.close {
  display: none;
}

.open {
  display: block;
}